@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
  }

  body {
    @apply bg-white-primary text-black-primary dark:bg-black-primary dark:text-white-secondary;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
}

@layer components {
  .ProseMirror {
    @apply min-h-96 focus-visible:outline focus-visible:outline-2 focus-visible:outline-violet-primary;
  }

  .ProseMirror img {
    @apply min-h-96 object-cover object-center;
  }
}
